<div class="landing-page">
  <app-navbar-login></app-navbar-login>

  <main class="main-lp">
    <div class="bg-lp">
      <div class="panel">
        <div class="left">
          <div class="lp__info">
            <h1>¿Qué Actividades tienes por hacer?</h1>
            <p><span class="animate"></span></p>
            <div class="lp-btn">
              <a href="" routerLink="/auth/login"
                >¡Comenzar Ahora! <i class="fas fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="cont__img">
            <p>
              <img
                src="https://cdn.glitch.me/27131a37-2b0c-4505-85fd-e4cd33d55125%2FGrupo%2029.png?v=1636256447866"
                alt=""
              />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-lp">
      <div class="section__left">
        <h2>¿Qué es NexTask?</h2>
        <div class="line"></div>
        <p>
          NexTask es una aplicación web que nos permite crear listas de tareas o
          de pendientes de forma en la cual podamos tener una mejor organización
          de nuestras actividades.
        </p>
      </div>
      <div class="section__right">
        <div class="cont__img">
          <p>
            <img
              src="https://cdn.glitch.me/27131a37-2b0c-4505-85fd-e4cd33d55125%2FAdd%20tasks-rafiki.png?v=1636050192228"
              alt=""
            />
          </p>
        </div>
      </div>
    </div>

    <div class="section-lp">
      <div class="section__right">
        <div class="cont__img">
          <p>
            <img
              src="https://cdn.glitch.me/27131a37-2b0c-4505-85fd-e4cd33d55125%2FDone-rafiki.png?v=1636050190845"
              alt=""
            />
          </p>
        </div>
      </div>
      <div class="section__left">
        <h2>¿Qué Ofrecemos?</h2>
        <div class="line"></div>
        <p>
          Proporcionamos una aplicación web a aquellas personas mediante la cual
          puedan organizar sus pendientes en diferentes listas, además de esto,
          tener la posibilidad de visualizar las tareas.
        </p>
      </div>
    </div>

    <!--      NUESTROS SERVICIOS      -->
    <div class="section-services">
      <div class="cont__tittle">
        <h2>Nuestros Servicios</h2>
      </div>

      <div class="grid__services">
        <div class="item__grid__services">
          <div class="cont__img">
            <p>
              <img
                src="https://cdn.glitch.me/27131a37-2b0c-4505-85fd-e4cd33d55125%2FTask-rafiki.png?v=1636050183315"
                alt=""
              />
            </p>
          </div>
          <h3>Aumenta tu productividad</h3>
        </div>

        <div class="item__grid__services">
          <div class="cont__img">
            <p>
              <img
                src="https://cdn.glitch.me/27131a37-2b0c-4505-85fd-e4cd33d55125%2FChecklist-rafiki.png?v=1636050181507"
                alt=""
              />
            </p>
          </div>
          <h3>Visualiza tus Tareas</h3>
        </div>

        <div class="item__grid__services">
          <div class="cont__img">
            <p>
              <img
                src="https://cdn.glitch.me/27131a37-2b0c-4505-85fd-e4cd33d55125%2FTask-rafiki.png?v=1636050183315"
                alt=""
              />
            </p>
          </div>
          <h3>Organiza tus pendientes</h3>
        </div>
      </div>
    </div>

    <!--      FOOTER      -->
    <footer>
      <section class="Contenedor-Footer">
        <div class="footer__logotipo">
          <label for="DisCode" class="footer__logo"
            ><a href="#">NexTask</a></label
          >
        </div>
        <div class="footer__links">
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">FAQ's</a></li>
          </ul>
        </div>
        <div class="footer__sm">
          <ul>
            <li>
              <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
            </li>
            <!--<li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>-->
            <li>
              <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#" class="linkedin"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
          </ul>
        </div>
      </section>
      <div class="footer__copyright">
        <span>© RAINBOW 2021</span>
      </div>
    </footer>
  </main>
</div>
