<!--        HEADER        -->
<header class="header-login">
  <a routerLink="/index" class="logo">NexTask</a>
  <div class="menu-toggle"></div>

  <nav>
    <ul>
      <li>
        <a
          href="../../auth/login/login.component.html"
          routerLink="/auth/login"
          class="btn_login"
          >Iniciar Sesión</a
        >
      </li>
      <li>
        <a
          href="../../auth/register/register.component.html"
          routerLink="/auth/register"
          class="btn_register"
          >Regístrarse</a
        >
      </li>
    </ul>
  </nav>
  <div class="clearfix"></div>
</header>
<!-- <div class="body-dashboard" id="body-pd">
</div> -->
